.l-main {
  .l-content{
    background-color: white;
    padding-top: 40px;

    h1{
      width: 100%;
      text-align: center;
      color: $main-blue;
      text-transform: capitalize;
    }
    article.node--blogarticle--full{
      .node__content{
        padding-bottom: 20px;
        height: auto;
      }
      p.submitted{
        color: lightgrey;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        a{
          color: lightgrey;
          text-decoration: none;
        }
      }
      .field--name-body, .field--name-field-subtitle, .field--name-field-subbody{
        padding-left:75px;
        padding-right:75px;
        width: 100%;
      }
      .field__item p{
        margin-bottom: 50px;
      }
      .field--name-field-subtitle .field__item{
        font-size: 1.6em;
        color: $main-blue;
        border-bottom: solid;
        border-bottom-color: lightgrey;
        border-bottom-width: thin;
        padding-bottom: 10px;
        width: 100%;
      }
    }
  }
}