#block-blogsocialblock-my-social-footer{
  margin-top: 40px;
  a{
    color: $main-blue;
    text-decoration: none;
    text-align: right;
  }
  em{
    font-style: normal;
    font-weight: bold;
  }
}
#block-blogsocialblock-my-social{
  .block__title{
    display: none;
  }
  .block__content{
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
    justify-content: space-around;
    margin-bottom: 75px;
    .ytlink p{
      background-image: url('../images/yt.svg');
      width: 50px;
      height: 50px;
      text-indent: -9999px;
    }
    .fblink p{
      background-image: url('../images/fb.svg');
      width: 50px;
      height: 50px;
      text-indent: -9999px;
    }
    .twlink p{
      background-image: url('../images/tw.svg');
      width: 50px;
      height: 50px;
      text-indent: -9999px;
    }
  }

  }