div.l-content-front{

  display: flex;
  flex-wrap: wrap;

  article.node--blogarticle--teaser{
    width :31%;
    margin-right: 2%;
    background-color: white;
    padding: 3%;
    margin-bottom: 20px;
    margin-top: 10px;
    .node__content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .comments{
        margin: 0px;
        display: block;
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        background-image: url('../images/layout/cube.png');
        color: white;
        padding-top: 5.3px;
        text-align: center;
      }
    }
    h2.node__title{
      color: black;
      text-transform: capitalize;
    }
    h3{
      margin-top: 0px;
    }
    p.submitted{
      color: lightgrey;
      margin-top: -16px;
      margin-bottom: 0px;
    }
    li.comment-add {
      display: none;
    }
    ul.links--inline{
      border-bottom: solid;
      border-bottom-color: lightgrey;
      border-bottom-width: thin;
    }
    li.node-readmore{
      float: right;
      a{
        text-decoration: none;
        color: $main-blue;
      }
    }
    .field__item{
      p{
        color: dimgrey;
      }
    }
    .field--type-text-with-summary{
      border-bottom: solid;
      border-bottom-color: $main-blue;
      border-bottom-width: thin;
    }
    .field--name-field-article-categorie{
      color: $main-blue;
      font-weight: bold;
    }
  }
  article.node--blogarticle--teaser:hover{
    box-shadow: 0px 1px 10px lightgrey;
    border-top: solid;
    border-top-color: $main-blue;
  }

}
