/*Variables*/
/*COlors*/
.l-region--navigation nav.block--nav-bar ul.menu {
  display: flex;
  justify-content: space-around; }
  .l-region--navigation nav.block--nav-bar ul.menu a {
    color: lightgrey; }
    .l-region--navigation nav.block--nav-bar ul.menu a:hover {
      color: #3383c6; }

img, media {
  max-width: 100%; }

/* Header */
header.l-header {
  background-color: #faf8f0; }

.site-branding__logo, .site-branding__name, .site-slogan {
  float: none;
  text-align: center; }

.site-branding__logo {
  width: 89px;
  height: 89px;
  margin: auto;
  margin-bottom: 20px; }

.logo {
  background-image: url("logo_2.png");
  background-repeat: no-repeat; }

.site-branding__name a {
  color: white; }

.site-branding__name a:hover, .site-branding__name a:visited {
  color: white; }

.site-branding__name span {
  text-transform: none; }

h2.site-slogan {
  font-size: 0.6em;
  color: white;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%; }

/* No files to import found in partials/components/**\/* */
.l-footer {
  padding: 60px 115px 60px 115px;
  background-color: white; }
  .l-footer .l-region--footer {
    display: flex;
    justify-content: space-between; }
  .l-footer h3.block__title {
    color: #3383c6; }
  .l-footer .views-row {
    display: flex;
    margin: 1em; }
    .l-footer .views-row div {
      margin-right: 15px; }
      .l-footer .views-row div span {
        color: lightgrey; }
    .l-footer .views-row div.views-field-title span a {
      text-decoration: none;
      color: black;
      font-weight: bold; }
  .l-footer .fixfooter {
    display: flex;
    justify-content: space-between;
    margin-left: 0px; }
    .l-footer .fixfooter p {
      color: lightgrey; }
    .l-footer .fixfooter a {
      color: #3383c6;
      text-decoration: none; }
  .l-footer .block--menu-menu-footer {
    margin-top: 40px;
    margin-left: -40px; }
    .l-footer .block--menu-menu-footer ul.menu li {
      list-style: none; }
      .l-footer .block--menu-menu-footer ul.menu li a {
        color: lightgrey;
        text-decoration: none;
        font-weight: bold; }

form.contact-contact-form {
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 40px;
  margin-bottom: 75px; }

body {
  background-color: #faf8f0; }

div.l-main {
  background-color: #faf8f0; }

div.l-content {
  margin: auto;
  width: 970px; }

form.node-blogarticle-form form.node-page-form {
  padding: 40px; }

/* Theme Hack*/
.region--debug {
  background-color: white;
  outline: none; }

.region--debug--footer:before, .region--debug--navigation:before {
  display: none; }

body.front ul.pager {
  display: none; }
body.front .l-page-front .l-main {
  padding-top: 80px; }
  body.front .l-page-front .l-main .l-content {
    background-color: transparent; }
  body.front .l-page-front .l-main .messages--status {
    display: none; }
body.front .l-page-front header.l-header-front {
  background-color: #3383c6; }
body.front .l-page-front .logo-front {
  background-image: url("logo_1.png");
  background-repeat: no-repeat; }

div.l-content-front {
  display: flex;
  flex-wrap: wrap; }
  div.l-content-front article.node--blogarticle--teaser {
    width: 31%;
    margin-right: 2%;
    background-color: white;
    padding: 3%;
    margin-bottom: 20px;
    margin-top: 10px; }
    div.l-content-front article.node--blogarticle--teaser .node__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      div.l-content-front article.node--blogarticle--teaser .node__content .comments {
        margin: 0px;
        display: block;
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        background-image: url("../images/layout/cube.png");
        color: white;
        padding-top: 5.3px;
        text-align: center; }
    div.l-content-front article.node--blogarticle--teaser h2.node__title {
      color: black;
      text-transform: capitalize; }
    div.l-content-front article.node--blogarticle--teaser h3 {
      margin-top: 0px; }
    div.l-content-front article.node--blogarticle--teaser p.submitted {
      color: lightgrey;
      margin-top: -16px;
      margin-bottom: 0px; }
    div.l-content-front article.node--blogarticle--teaser li.comment-add {
      display: none; }
    div.l-content-front article.node--blogarticle--teaser ul.links--inline {
      border-bottom: solid;
      border-bottom-color: lightgrey;
      border-bottom-width: thin; }
    div.l-content-front article.node--blogarticle--teaser li.node-readmore {
      float: right; }
      div.l-content-front article.node--blogarticle--teaser li.node-readmore a {
        text-decoration: none;
        color: #3383c6; }
    div.l-content-front article.node--blogarticle--teaser .field__item p {
      color: dimgrey; }
    div.l-content-front article.node--blogarticle--teaser .field--type-text-with-summary {
      border-bottom: solid;
      border-bottom-color: #3383c6;
      border-bottom-width: thin; }
    div.l-content-front article.node--blogarticle--teaser .field--name-field-article-categorie {
      color: #3383c6;
      font-weight: bold; }
  div.l-content-front article.node--blogarticle--teaser:hover {
    box-shadow: 0px 1px 10px lightgrey;
    border-top: solid;
    border-top-color: #3383c6; }

#block-blogsocialblock-my-social-footer {
  margin-top: 40px; }
  #block-blogsocialblock-my-social-footer a {
    color: #3383c6;
    text-decoration: none;
    text-align: right; }
  #block-blogsocialblock-my-social-footer em {
    font-style: normal;
    font-weight: bold; }

#block-blogsocialblock-my-social .block__title {
  display: none; }
#block-blogsocialblock-my-social .block__content {
  display: flex;
  padding-left: 75px;
  padding-right: 75px;
  justify-content: space-around;
  margin-bottom: 75px; }
  #block-blogsocialblock-my-social .block__content .ytlink p {
    background-image: url("../images/yt.svg");
    width: 50px;
    height: 50px;
    text-indent: -9999px; }
  #block-blogsocialblock-my-social .block__content .fblink p {
    background-image: url("../images/fb.svg");
    width: 50px;
    height: 50px;
    text-indent: -9999px; }
  #block-blogsocialblock-my-social .block__content .twlink p {
    background-image: url("../images/tw.svg");
    width: 50px;
    height: 50px;
    text-indent: -9999px; }

.l-main .l-content {
  background-color: white;
  padding-top: 40px; }
  .l-main .l-content h1 {
    width: 100%;
    text-align: center;
    color: #3383c6;
    text-transform: capitalize; }
  .l-main .l-content article.node--blogarticle--full .node__content {
    padding-bottom: 20px;
    height: auto; }
  .l-main .l-content article.node--blogarticle--full p.submitted {
    color: lightgrey;
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
    .l-main .l-content article.node--blogarticle--full p.submitted a {
      color: lightgrey;
      text-decoration: none; }
  .l-main .l-content article.node--blogarticle--full .field--name-body, .l-main .l-content article.node--blogarticle--full .field--name-field-subtitle, .l-main .l-content article.node--blogarticle--full .field--name-field-subbody {
    padding-left: 75px;
    padding-right: 75px;
    width: 100%; }
  .l-main .l-content article.node--blogarticle--full .field__item p {
    margin-bottom: 50px; }
  .l-main .l-content article.node--blogarticle--full .field--name-field-subtitle .field__item {
    font-size: 1.6em;
    color: #3383c6;
    border-bottom: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: thin;
    padding-bottom: 10px;
    width: 100%; }

/*# sourceMappingURL=blog.styles.css.map */
