body{
  background-color: $soft-yellow;
}
div.l-main{
  background-color: #faf8f0;
}
div.l-content{
  margin: auto;
  width: 970px;
}
form.node-blogarticle-form form.node-page-form{
  padding: 40px;
}

/* Theme Hack*/
.region--debug{
  background-color: white;
  outline: none;
}
.region--debug--footer:before, .region--debug--navigation:before {
  display: none;
}

