.l-footer{
  padding: 60px 115px 60px 115px;
  background-color: white;
  .l-region--footer{
    display: flex;
    justify-content: space-between;
  }
  h3.block__title{
    color: $main-blue;
  }
  .views-row{
    display: flex;
    margin: 1em;
    div{
      margin-right: 15px;
      span{
        color: lightgrey;
      }
    }
    div.views-field-title{
      span{
        a{
          text-decoration: none;
          color: black;
          font-weight: bold;
        }
      }
    }
  }
  .fixfooter{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    p{
      color: lightgrey;
    }
    a{
      color: $main-blue;
      text-decoration: none;
    }
  }
  .block--menu-menu-footer{
    margin-top: 40px;
    margin-left: -40px;
    ul.menu{
      li{
        list-style: none;
        a{
          color: lightgrey;
          text-decoration: none;
          font-weight: bold;
        }

      }
    }
  }
}

