body.front {
  ul.pager {
    display:none;
  }
  .l-page-front{
    .l-main{
      padding-top: 80px;
      .l-content{
        background-color: transparent;
      }
      .messages--status{
        display: none;
      }
    }
    header.l-header-front{
      background-color: #3383c6;
    }
    .logo-front {
      background-image: url('logo_1.png');
      background-repeat: no-repeat;
    }
  }
}
