img, media {
  max-width: 100%;
}
/* Header */

header.l-header{
  background-color: #faf8f0;
}
.site-branding__logo, .site-branding__name, .site-slogan{
  float: none;
  text-align: center;
}
.site-branding__logo{
  width: 89px;
  height: 89px;
  margin: auto;
  margin-bottom: 20px;
}
.logo {
  background-image: url('logo_2.png');
  background-repeat: no-repeat;
}
.site-branding__name a{
  color: white;
}
.site-branding__name a:hover, .site-branding__name a:visited{
  color: white;
}
.site-branding__name span{
  text-transform: none;
}
h2.site-slogan {
  font-size: 0.6em;
  color: white;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}
/* No files to import found in partials/components/**\/* */
