.l-region--navigation{
  nav.block--nav-bar{
    ul.menu {
      display: flex;
      justify-content: space-around;
      a {
        color: lightgrey;
        &:hover {
          color: $main-blue;
        }
      }
    }
  }
}